body {
    background-color: whitesmoke;
}
#map{
    height: 50vh;
    width: 100%;
}

.navColor {
    background-color: #1b1c1d;
}
.ui.stackable.borderless.container.menu.inverted .item{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
.ui.small.image {
    margin-right: 107px;
}
.ui.container > .ui.items {
    position: relative;
    top: 2em;
}
.ui.container > .ui.items > .ui.large.grey.header {
    position: relative;
    left: 2em;
}
.ui.right.floated.grey.tiny.header {
    position: relative;
    bottom: 3.2em;
}
.sixteen.wide.center.aligned.column > .ui.image {
    position: relative;
    top: 2em;
    left: 5em;
}
.sixteen.wide.mobile.eight.wide.tablet.eight.wide.computer.column > .ui.segment {
    position: relative;
    left: 5em;
}
.four.wide.column > .ui.large.grey.header {
    position: relative;
    top: 3em;
    right: .3em;
}
.row .twelve.wide.column {
    position: relative;
    left: .5em;
}
.twelve.wide.column .ui.large.blue.button {
    position: relative;
    top: .5em;
    margin-bottom: 1em;
}
.twelve.wide.column .ui.large.green.button {
    position: relative;
    top: .5em;
    margin-bottom: 1em;
}
.twelve.wide.column .ui.subheader {
    line-height: 27px;
    color: #6e7d89;
}
.sixteen.wide.mobile.sixteen.wide.tablet.eight.wide.computer.column.customMargin {
    margin-top: 2em;
}






.ui.grid.menuhead-links{
    margin-left: 150px;
    margin-right: auto;
    font-size: medium;
    font-weight: 900;
    max-height: 78px;
    padding-top: 12px;
}

.ui.grid.search-bar-container{
    background-color: white;
    border: 1px solid white;
    border-radius: 25px;
    max-width: 1127px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 2px #cccccc;
}

/* .ui.compact.selection.dropdown.first-dropdown{
 width: 253px;
} */

.ui.action.input  .ui.button {
    position: relative;
    left: 1.7rem;
}
.ui.compact.selection.dropdown {
    position: relative;
    left: .3rem;
}



/* Category Cards */

.ui.grid.category-cards{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


/* Section : Top Rated Companies Block */

.ui.fluid.blue.card.main-toprate{
    min-height: 450px;
}

.computer.column.custom-class .image img{
    max-height: 155px;
}


.ui.grid.customImage {
    background-image: url("../img/desktop2.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-shadow: 1px 2px black;
}

.customClass {
    position: relative;
    bottom: 0.6em;
}
.ui.five.column.grid {
    position: relative;
    right: 2.6em;
}
.ui.blue.basic.button.customButton {
    position: relative;
    right: .5em;
}
.ui.huge.blue.button {
    position: relative;
    left: 2em;
}
.ui.huge.green.button {
    position: relative;
    left: 2em;
}
.ui.huge.inverted.header.customFontsize {
    font-size: 3.5em;
}
.ui.huge.inverted.header.customFont {
    font-size: 1.9em;
}


.ui.huge.header.customFontsizeLarge {
    font-size: 3.5em;
    position: relative;
    left: 1em;
    font-style: italic;
    color: rgb(63, 60, 60);
}
.ui.huge.header.customFontsizeLarge.color {
    color:#fbbd08;
}
.ui.small.grey.header.customFontsizeLarge {
    font-size: 1.5em;
    position: relative;
    left: 2.3em;
    font-style: italic;
    color: rgb(41, 40, 40);
}
.ui.large.header.customFontsizeTablet {
    font-size: 2em;
    position: relative;
    left: 1em;
    font-style: italic;
    color: rgb(63, 60, 60);
}
.ui.medium.grey.header.customFontsizeTablet {
    font-size: 1.2em;
    position: relative;
    left: 1.5em;
    font-style: italic;
    color: rgb(41, 40, 40);
}
.ui.massive.green.circular.label {
    width: 4.2em;
    height: 4.2em;
    border-radius: 50%;
}
.ui.big.green.circular.label {
    width: 4.2em;
    height: 4.2em;
    border-radius: 50%;
    position: relative;
    right: 1em;
}
.ui.medium.green.circular.label {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    position: relative;
    right: 10px;
    top: 1.4em;
}
.ui.massive.yellow.circular.label {
    width: 4.2em;
    height: 4.2em;
    border-radius: 50%;
}
.ui.big.yellow.circular.label {
    width: 4.2em;
    height: 4.2em;
    border-radius: 50%;
    position: relative;
    right: 1em;
}
.ui.medium.yellow.circular.label {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    position: relative;
    right: 10px;
    top: 1.4em;
}
.ui.large.header.customFontsizeMobile {
    font-size: 2em;
    position: relative;
    left: 1em;
    font-style: italic;
    color: rgb(63, 60, 60);
}
.ui.small.grey.header.customFontsizeMobile {
    font-size: 1.2em;
    position: relative;
    left: 1.5em;
    font-style: italic;
    color: rgb(41, 40, 40);
}


/* 3sections Offers and Pricing */

.container.pricing-offer-container{
    margin-top: 50px;
    margin-bottom: 50px;
}

.container.pricing-offer-container .large.screen.computer.only.row{
    background-color: white;
    border: 1px solid white;
    border-radius: 15px;
    margin-bottom: 15px;
}

.brands-logo-section{
    background-color: green;
    color: white;
    width: 100%;
    height: 256px;
    padding: 40px;
    font-size: medium;
    font-weight: 900;
}
.brands-logo-section img{
    margin-left: 100px;
    max-width: 140px;
}

footer {
    background-color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.ui.basic.segment {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: justify;
    position: relative;
    right: .7em;
}
.list .item.customFontFooter {
margin-left: 30%;
margin-top: 12%;
font-size: 25px;
color: white;
}
.list > .item.customFontFooter > a.customFontFooter  {
    color: white;
}
.eight.wide.mobile.only.column .list .item.customFontFooter {
    margin: 8px;
    margin-bottom: 9px;
}
.ui.center.aligned.white.inverted.header.customFontFooter {
    font-size: 10px;
}


@media screen and (max-width: 992px) {
    #category-shortcards{
        display: none;
    }

    .brands-logo-section{
        display: none;
    }
  }

  @media screen and (min-width: 1280px){
    .ui.compact.selection.dropdown.first-dropdown{
        width: 253px;
  }
}



/* Login Page */

.login-menu{
    margin-top: 100px;
    text-align: center;
}

.login-menu input{
    width: 330px;

}

.first-loginmenu{
    margin-top: 20px;
}