body > .grid {
    height: 100%;
}
.column {
    max-width: 450px;
}

.ui.stacked.secondary.segment {

    padding-top: 25px;
}

.ui.middle.aligned.center.aligned.grid {
    height: 600px;
}

.content {
    font-size: 25px;
    color: #111;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: bold;
    margin-bottom: 12px;
    letter-spacing: -1px;
}

.checkbox {
    float: left;
    margin-bottom: 12px;
}

.ui.inverted.green.button {
    width: 31%;
    height: 43px;
    margin-top: 30px;
    font-size: large;
    margin-left: -114px;
}

.ui.gray.segment {
    border: none;
}

.ui.gray.segment {
    margin-top: 10px;
}