body {
    background-color: whitesmoke;
}
#yourProfilebtn{
    display: none;
}
.navColor {
    background-color: #1b1c1d;
}
.ui.stackable.borderless.container.menu.inverted .item{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
.ui.small.image {
    margin-right: 107px;
}
/* Search bar */
.ui.grid.search-bar-container{
    background-color: white;
    border: 1px solid white;
    border-radius: 25px;
    position: relative;
    top: 2em;
}
.ui.container.positionCustom {
    position: relative;
    top: 4em;
}
.ui.action.input  .ui.button {
    position: relative;
    left: 1.7rem;
}
.ui.compact.selection.dropdown {
    position: relative;
    left: .3rem;
}
.ui.two.column.grid {
    position: relative;
    top: 2em;
    margin-bottom: 6.5em;
}
footer {
    background-color: grey;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-top: 2rem;
}
.ui.basic.segment {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: justify;
    position: relative;
    right: .7em;
}
.list .item.customFontFooter {
margin-left: 30%;
margin-top: 12%;
font-size: 20px;
color: white;
}
.list > .item.customFontFooter > a.customFontFooter  {
    color: white;
}
.eight.wide.mobile.only.column .list .item.customFontFooter {
    margin: 8px;
    margin-bottom: 9px;
}
.ui.center.aligned.white.inverted.header.customFontFooter {
    font-size: 10px;
}

#next {
    margin-left: 32%;
    
}

#adTextArea{
    min-height: 351px;
}

